*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{}

.container{
width: 90%;
margin: 0 auto;
background-color: aquamarine;
}

.item-generator-section{
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}